*, *::before, *::after {
    box-sizing:border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


:root {
    --hue-neutral: 200;
    --hue-wrong: 0;
    --hue-correct: 145;
}

body {
    --hue: var(--hue-neutral);
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: hsl(var(--hue), 100%, 20%);
}

#timer {
    font-size: 50px;
    color:black;

    
}


body.correct  {
    --hue: var(--hue-correct);
}


body.wrong  {
    --hue: var(--hue-wrong);
}


.container  {
    width: 800px;
    max-width: 80%;
    background-color: #ecf5ff;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}

h1 {
    display: flex;
    justify-content: center;
    margin-bottom: 90px;
    font-size: 50px;
}

.button-grid-home  {
    display: flex;
    justify-content: center; 
    gap: 20px;
}
.button-grid-play {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin-left: 30px;
    margin-top:20px;
    margin-bottom:20px;
}
.button-grid-high  {
    display: flex;
    justify-content: center; 
    gap: 20px;
}

.btn  {
    font-size: 1.8rem;
    padding: 1rem 0;
    width: 20rem;
    text-align:center ;
    border: 0.1rem solid black;
    margin-bottom: 1rem;
    text-decoration: none;
    color: white;
    background-color: #C83200;
    border-radius: 3px;
    
}

.btn:hover  {
    cursor: pointer;
    box-shadow: 0 0.5rem 0.5rem 0 rgba(90, 13, 13, 0.5);
    transform: translateY(-0.2rem);
    transition: transform 200ms;
}

.hide  {
    display: none;
}

#question {
    font-size: 30px;
}
#user-score  {
    font-size: 30px; 
}
#high-score-fillout  {
    font-size: 25px;
}